body {
    color: #282425;
    background-color: #8fdab2;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

h1,
h2,
h3,
a {
    color: #ee9870;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h1 {
    font-size: 120px;
    text-align: center;
    background-image: url("images/job_search_tips-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 15%;
    padding-block: 200px;
    color: rgb(35, 120, 119);
    box-shadow: 10px 5px 5px #a9a3a1;
}

h2 {
    font-size: 48px;
    text-align: center;
    font-style: italic;
}

h3 {
    font-size: 24px;
}

a {
    font-style: italic;
}

.profile {
    height: 300px;
    float: right;
    border-radius: 60px;

}

.work {
    height: 400px;
    float: right;
    border-radius: 30px;
}

/*
font-family: 'Raleway', sans-serif;
font-family: 'Playfair Display', serif;
*/
.fotogalerie,
.kontakt {
    background-color: #f9e3d0;
}

section {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
}

ul {
    list-style: none;
}

.navigation {
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #35bc5dc4;
    text-align: center;
}

.navigation li {
    display: inline-block;
    padding: 10px 20px;
}

.navigation li:hover {
    color: rgb(72, 174, 72);
    background-color: rgb(159, 161, 219);
}

.navigation a {
    text-decoration: none;
}

.even {
    float: right;
}

footer {
    margin: 0;
    padding: 25px;
    text-align: center;
    background-color: #ee9870c8;
    color: rgb(72, 174, 72);
}

.profile-cat {
    height: 300px;
    border: 2px solid green;
    border-radius: 30px;
}

.profile-board {
    height: 350px;
    float: inline-end;
    border: 2px solid green;
    border-radius: 30px;
}

.jazyk {
    height: 250px;
    float: right;
    border-radius: 30px;
}

.about {
    height: 400px;
    float: left;
    border-radius: 30px;
}

.osobni {
    text-align: center;
    line-height: 1.5;
}
